header.flex {
  background-color: var(--footer-bg);
  color: var(--white);
  padding-block: 0.6rem;

  & .fa-solid {
    color: var(--white);
  }

  & .sign-in:hover,
  & .register:hover {
    border: 1px solid rgb(152, 154, 189);
    padding: 0.5rem 1.1rem;
  }

  & .cart:hover {
    border: 1px solid rgb(152, 154, 189);
    padding: 0.5rem 1.1rem 0.5rem 0.7rem;
  }

  & .logo:hover {
    scale: 0.95;
  }
}

main.flex {
  max-width: 800px;
  background-color: var(--white);
  & img {
    width: 40%;
    border-radius: 0.5rem;
  }
  & .price {
    color: var(--red-button);
    font-weight: bold;
    font-size: 1.18rem;
  }
  & .products-details {
    margin-inline: 1.2rem;
  }
  & .description {
    margin-block: 1.2rem;
    line-height: 1.3rem;
    text-align: left;
    text-wrap: balance;
  }
  & .add-to-cart {
    margin-right: 0.88rem;
    background-color: var(--blue-button);
    color: #fff;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 0.7rem;
    gap: 0.33rem;
  }

  & .fa-cart-arrow-down {
    color: #fff;
  }
  box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 0.5rem;
}

@media (width < 800px) {
  main.flex {
    flex-wrap: wrap;
    & img {
      margin-inline: auto;
      width: 290px;
    }
    & .products-details {
      margin-top: 2.9rem;
      margin-bottom: 1.5rem;
    }
  }
}
